# OS or Editor folders
.idea/
.DS_Store
._*
Thumbs.db

#
*.log
tmp
.map
.settings

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# keys
tokens.js
credentials/

# passport
providers.json

# strongloop
strongloop.json
